body{
    margin: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 650px;
    height: 410px;
    background: #FFFFFF;
    border-radius: 4px;
    padding: 10px;
    margin-block: 50px;
}

.box{
    display: flex;
    width: 640px;
    height: 30px;
}

.card h2{
    padding: 10px 0 0 10px;
}

.card h4{
    padding: 10px 0 0 10px;
}

.card form{
    padding: 0 0 0 10px;
}

.btn{
    width: 384px;
    height: 48px;
    background: #232529;
    border-radius: 4px;
    border: 0;
    padding: 12px 56px;
    font-weight: 700;
    font-size: 14px;
    line-height: 147.19%;
    margin: 15px 105px;
    text-transform: initial;
    color: #FFFFFF;
    position: relative;
    top: 0;

}

.btn:hover{
    background: #254F4C;
    cursor: pointer;
    box-shadow: 4px 0 20px 3px darkviolet;
}

.btn:active{
    top: 3px;
    box-shadow: 0 1px 10px 0 blue;
}

form{
    line-height: 10px;
}

.empty-field{
    border: 2px solid red;
}

.box-shadow{
    box-shadow: 0 1px 10px 0 blue;
}

.text{
    position: absolute;
    left: 5px;
    top: 54px;
    width: 200px;
    color: red;
    font-family: 'Sora', sans-serif;
    font-size: 10px;
}


p{
    padding: 20px;
    position: absolute;
    color: red;
    font-size: 14px;
}

.par{
    visibility: collapse;
}