.body {
    width: 800px;
}
.card {
    width: auto;
    padding: 1rem;
    border: 1px solid black;
    margin: 1rem;
    background: skyblue;
    border-radius: 8px;
}

.btn_link {
    width: 116px;
    height: 36px;
    border-radius: 6px;
    background: aqua;
}

